[submodule "hif"]
	path = hif
	url = https://github.com/oxidecomputer/hif
[submodule "pmbus"]
	path = pmbus
	url = https://github.com/oxidecomputer/pmbus
[submodule "spd"]
	path = spd
	url = https://github.com/oxidecomputer/spd
[submodule "idt8a3xxxx"]
	path = idt8a3xxxx
	url = https://github.com/oxidecomputer/idt8a3xxxx
