[submodule "hif"]
	path = hif
	url = git@github.com:oxidecomputer/hif.git
[submodule "pmbus"]
	path = pmbus
	url = git@github.com:oxidecomputer/pmbus.git
[submodule "spd"]
	path = spd
	url = git@github.com:oxidecomputer/spd.git
[submodule "idt8a3xxxx"]
	path = idt8a3xxxx
	url = git@github.com:oxidecomputer/idt8a3xxxx.git
