[package]
name = "humility"
version = "0.5.0"
authors = ["Bryan Cantrill <bryan@oxide.computer>"]
edition = "2018"
license = "MPL-2.0"

[profile.release]
debug = true

[dependencies]
pmbus = { path = "./pmbus" }
hif = { path = "./hif" }
spd = { path = "./spd" }
idt8a3xxxx = { path = "./idt8a3xxxx" }
humility_load_derive = {path = "./load_derive"}
humility = { path = "./humility-core", package = "humility-core" }

fallible-iterator = "0.2.0"
log = {version = "0.4.8", features = ["std"]}
bitfield = "0.13.2"
clap = "2.33.0"
csv = "1.1.3"
serde = "1.0.126"
parse_int = "0.4.0"
structopt = "0.3"
multimap = "0.8.1"
num-traits = "0.2"
num-derive = "0.3"
paste = "0.1"
jep106 = "0.2"
toml = "0.5"
anyhow = { version = "1.0.44", features = ["backtrace"] }
scroll = "0.10"
indicatif = "0.15"
colored = "2.0.0"
postcard = "0.7.0"
itertools = "0.10.1"
indexmap = { version = "1.7", features = ["serde-1"] }
