[package]
name = "humility"
version = "0.7.2"
authors = ["Bryan Cantrill <bryan@oxide.computer>"]
edition = "2018"
license = "MPL-2.0"

[workspace]
members = [
    "humility-core",
    "humility-cmd",
    "humility-arch-cortex",
    "cmd/apptable",
    "cmd/dashboard",
    "cmd/diagnose",
    "cmd/doc",
    "cmd/dump",
    "cmd/etm",
    "cmd/exec",
    "cmd/extract",
    "cmd/flash",
    "cmd/gdb",
    "cmd/gpio",
    "cmd/hash",
    "cmd/hiffy",
    "cmd/i2c",
    "cmd/itm",
    "cmd/jefe",
    "cmd/lpc55gpio",
    "cmd/manifest",
    "cmd/map",
    "cmd/monorail",
    "cmd/openocd",
    "cmd/pmbus",
    "cmd/probe",
    "cmd/qspi",
    "cmd/readmem",
    "cmd/readvar",
    "cmd/registers",
    "cmd/rencm",
    "cmd/rendmp",
    "cmd/ringbuf",
    "cmd/sensors",
    "cmd/spctrl",
    "cmd/spd",
    "cmd/spi",
    "cmd/stackmargin",
    "cmd/stmsecure",
    "cmd/tasks",
    "cmd/test",
    "cmd/trace",
    "cmd/validate",
    "xtask",
]

[profile.release]
debug = true

[profile.ci]
inherits = "dev"
debug = false # default true

[build-dependencies]
cargo_metadata = "0.12.0"
anyhow = "1.0.32"

[dependencies]
pmbus = { git = "https://github.com/oxidecomputer/pmbus" }
hif = { git = "https://github.com/oxidecomputer/hif" }
spd = { git = "https://github.com/oxidecomputer/spd" }
humility = { path = "./humility-core", package = "humility-core" }
humility-cortex = { path = "./humility-arch-cortex" }
humility-cmd = { path = "./humility-cmd" }
cmd-apptable = { path = "./cmd/apptable", package = "humility-cmd-apptable" }
cmd-dashboard = { path = "./cmd/dashboard", package = "humility-cmd-dashboard" }
cmd-diagnose = { path = "./cmd/diagnose", package = "humility-cmd-diagnose" }
cmd-doc = { path = "./cmd/doc", package = "humility-cmd-doc" }
cmd-dump = { path = "./cmd/dump", package = "humility-cmd-dump" }
cmd-etm = { path = "./cmd/etm", package = "humility-cmd-etm" }
cmd-exec = { path = "./cmd/exec", package = "humility-cmd-exec" }
cmd-extract = { path = "./cmd/extract", package = "humility-cmd-extract" }
cmd-flash = { path = "./cmd/flash", package = "humility-cmd-flash" }
cmd-gdb = { path = "./cmd/gdb", package = "humility-cmd-gdb" }
cmd-gpio = { path = "./cmd/gpio", package = "humility-cmd-gpio" }
cmd-hash = { path = "./cmd/hash", package = "humility-cmd-hash" }
cmd-hiffy = { path = "./cmd/hiffy", package = "humility-cmd-hiffy" }
cmd-i2c = { path = "./cmd/i2c", package = "humility-cmd-i2c" }
cmd-isp = { path = "./cmd/isp", package = "humility-cmd-isp" }
cmd-itm = { path = "./cmd/itm", package = "humility-cmd-itm" }
cmd-jefe = { path = "./cmd/jefe", package = "humility-cmd-jefe" }
cmd-lpc55gpio = { path = "./cmd/lpc55gpio", package = "humility-cmd-lpc55gpio" }
cmd-manifest = { path = "./cmd/manifest", package = "humility-cmd-manifest" }
cmd-map = { path = "./cmd/map", package = "humility-cmd-map" }
cmd-monorail = { path = "./cmd/monorail", package = "humility-cmd-monorail" }
cmd-openocd = { path = "./cmd/openocd", package = "humility-cmd-openocd" }
cmd-pmbus = { path = "./cmd/pmbus", package = "humility-cmd-pmbus" }
cmd-probe = { path = "./cmd/probe", package = "humility-cmd-probe" }
cmd-qspi = { path = "./cmd/qspi", package = "humility-cmd-qspi" }
cmd-readmem = { path = "./cmd/readmem", package = "humility-cmd-readmem" }
cmd-readvar = { path = "./cmd/readvar", package = "humility-cmd-readvar" }
cmd-registers = { path = "./cmd/registers", package = "humility-cmd-registers" }
cmd-rencm = { path = "./cmd/rencm", package = "humility-cmd-rencm" }
cmd-rendmp = { path = "./cmd/rendmp", package = "humility-cmd-rendmp" }
cmd-ringbuf = { path = "./cmd/ringbuf", package = "humility-cmd-ringbuf" }
cmd-sensors = { path = "./cmd/sensors", package = "humility-cmd-sensors" }
cmd-spctrl = { path = "./cmd/spctrl", package = "humility-cmd-spctrl" }
cmd-spd = { path = "./cmd/spd", package = "humility-cmd-spd" }
cmd-spi = { path = "./cmd/spi", package = "humility-cmd-spi" }
cmd-stackmargin = { path = "./cmd/stackmargin", package = "humility-cmd-stackmargin" }
cmd-stmsecure = { path = "./cmd/stmsecure", package = "humility-cmd-stmsecure" }
cmd-tasks = { path = "./cmd/tasks", package = "humility-cmd-tasks" }
cmd-test = { path = "./cmd/test", package = "humility-cmd-test" }
cmd-trace = { path = "./cmd/trace", package = "humility-cmd-trace" }
cmd-validate = { path = "./cmd/validate", package = "humility-cmd-validate" }

fallible-iterator = "0.2.0"
log = {version = "0.4.8", features = ["std"]}
env_logger = "0.9.0"
bitfield = "0.13.2"
clap = "3.0.12"
csv = "1.1.3"
serde = "1.0.126"
parse_int = "0.4.0"
multimap = "0.8.1"
num-traits = "0.2"
num-derive = "0.3"
jep106 = "0.2"
toml = "0.5"
anyhow = { version = "1.0.44", features = ["backtrace"] }
scroll = "0.10"
indicatif = "0.15"
colored = "2.0.0"
indexmap = { version = "1.7", features = ["serde-1"] }

[patch.crates-io]
libusb1-sys = { git = "https://github.com/oxidecomputer/rusb", branch = "probe-rs-0.12-libusb-v1.0.26" }

[dev-dependencies]
trycmd = "0.13.2"
